//Typography
$Main-Font: 'Monserrat', sans-serif;

//Colors
$Green: #4CB8B3;
$Pink: #F53756;
$Yellow: #FEF46D;
$Purple: #752f97;
$Black: #000000;
$White: #FFFFFF;

//Media Queries

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;